{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block content %}

<section id="uploadForm">
	<div class='container'>
		<div class="row">
			<div class="col-md-12">
				<h1>Edit Photo</h1>
				<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
					{{ form | crispy }}
					<br/>
					<input type='submit' class='btn btn-block btn-lg btn-dark' value='Update' />
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

<!-- {% block scripts %}
<script src="{% static 'js/bootstrap-uploadprogress.js' %}"></script>

<script>
  $("#form").uploadprogress({
    	redirect_url: "/"
  });
</script>
{% endblock %} -->